<p>peliculas works!</p>

<hr>

<!--
<div class="container">

    <div class="row" *ngFor="let pelicula of peliculas">
      <div class="col-lg-4"  style="background-color:#aaa">
        <h1>Titulo</h1> 
        <p>{{ pelicula.title}}</p>
      </div>
      <div class="col-lg-4"  style="background-color:#bbb">
        <h1>Director</h1> 
        <p>{{ pelicula.director}}</p>
      </div>
      <div class="col-lg-4"  style="background-color:#ccc">
        <h1>Descripcion</h1> 
        <p>{{ pelicula.opening_crawl}}</p>
      </div>
    </div>
</div>
-->